<h2>Sign Up Confirmation</h2>

<h3>Are you sure these values are correct?</h3>

<div class="row">
    <%= form_for @user, url: { action: :create } do |f| %>
    <div class="col-md-8">
            <h4>Email: <%= params[:user][:email] %></h4>
            <h4>Name: <%= params[:user][:name] %></h4>
        <p><%= f.submit "Yes", class: 'btn btn-success' %>
           <%= link_to "No", new_user_path, class: 'btn btn-default' %>
        </p>
     </div>
     <% end %>
</div>

