<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
        </div>
        <% avatar_url = @user.avatar_url(128) %>
        <% if avatar_url %>
            <div class="media-left">
                <%= image_tag avatar_url, class: 'media-object' %>
            </div>
        <% end %>
        <div class="media-body">
            <h2 class="media-heading"><%= @user.name %></h2>
            <small>
                <%= pluralize(@user.posts.count, 'post') %>
                <%= pluralize(@user.comments.count, 'comment') %>
            </small>
        </div>
    </div>
</div>

<% if user_has_favorited_posts? %>
    <h2>Favorited posts</h2>
    <% @user.posts.each do |post| %>
        <% if favorite  = current_user.favorite_for(post) %>
            <div class="media">
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
                <%= render partial: 'votes/voting', locals: { post: post } %>
                <div class="media-body">
                    <h4 class="media-heading">
                        <%= link_to post.title, topic_post_path(post.topic, post) %>
                    </h4>
                    <small>
                        submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %>
                        <%= post.comments.count %> Comments
                    </small>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>

<% if user_has_posts? %>
    <h2>Posts</h2>
    <%= render @user.posts %>
<% else %>
    <h2><%= @user.name %> has not submitted any posts yet.</h2>
<% end %>


